{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - User Channels Page</title>

<script type="text/javascript" src="/static/vendor/chartjs/js/Chart.bundle.min.js"></script>
<script type="text/javascript" src="/static/vendor/socketio/js/socket.io.js"></script>

{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8 mx-auto">
            <div class="row m-2">
                <div class="index-live-title"><b>Your Channels</b></div>
                <span class="float-right"><button class="btn btn-success shadow" data-toggle="modal" data-target="#newChannelModal"><i class="fas fa-plus"></i> Create Channel</button></span>
            </div>
            
            {% for channel in channels %}
            <div id="channelEntry-{{channel.id}}" class="card p-2 mx-2 mt-2 bg-dark" style="cursor: pointer;" onclick="toggleDiv('channelCard-{{channel.id}}')">
                <div class="row">
                    <div class="ml-2 col-auto align-middle">
                        <b><h3><i class="fas fa-bars"></i></h3></b>
                    </div>
                    <div class="col">
                        <h5>{{channel.channelName}}</h5>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <i class="fas fa-hashtag mr-2"></i> {{channel.topic|get_topicName}}
                            </div>
                            <div class="col-12 col-md-4">
                                <i class="fas fa-users"></i> {{channel.views}}</span>
                            </div>
                            <div class="col-12 col-md-4">
                                <i class="fas fa-star"></i> {{channel.subscriptions|length}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/settings/channels" enctype=multipart/form-data method="post">
                <div id="channelCard-{{channel.id}}" class="card mx-2 mb-2" style="display:none;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-12">
                                <h4>Channel Image</h4>
                                {% if channel.imageLocation == None %}
                                <img src="/static/img/video-placeholder.jpg" width="100%">
                                {% else %}
                                <div>
                                    <img src="/images/{{channel.imageLocation}}" class="stream-img card-img-top shadow" width="100%">
                                </div>
                                {% endif %}
                                <input type="file" name="photo" class="form-control-file my-2" value="Upload a Photo"><br>
                                
                                <h4>Offline Stream Image</h4>
                                {% if channel.offlineImageLocation == None %}
                                <img src="/static/img/video-placeholder.jpg" width="100%">
                                {% else %}
                                <div>
                                    <img src="/images/{{channel.offlineImageLocation}}" class="stream-img card-img-top shadow" width="100%">
                                </div>
                                {% endif %}
                                <input type="file" name="offlinephoto" class="form-control-file my-2" value="Upload a Photo"><br>
                                
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label for="channelName" class="col-form-label"><b>Channel Name</b></label>
                                    <input type="text" class="form-control" name="channelName" id="channelName" value="{{channel.channelName}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="channeltopic" class="col-form-label"><b>Default Topic</b></label>
                                    <select class="form-control" name="channeltopic" id="channeltopic" style="font-family: FontAwesome, sans-serif;" required >
                                        {% for topic in topics %}
                                        <option value={{topic.id}} {% if channel.topic==topic.id %} selected {% endif %}>{{topic.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="channelName" class="col-form-label"><b>Default Name for Streams</b></label>
                                    <input type="text" class="form-control" name="channelStreamName" id="channelStreamName" value="{{channel.defaultStreamName}}" placeholder="Leave Blank for Date/Time">
                                </div>
                                <hr>
                                <h4><b>Recording Options</b></h4>
                                {% if sysSettings.allowRecording == True %}
                                <div class="form-group row">
                                    <div class="col-6 ">
                                        <label for="recordSelect" class="col-form-label"><b>Record Video </b></label>
                                    </div>
                                    <div class="col-6">
                                        <input type="checkbox" data-toggle="toggle" id="recordSelect" name="recordSelect" {% if channel.record == True %} checked {% endif %}>
                                    </div>
                                </div>
                                {% endif %}
                                
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label for="chatSelect" class="col-form-label"><b>Allow Comments on Recorded Videos</b></label>
                                    </div>
                                    <div class="col-6">
                                        <input type="checkbox" data-toggle="toggle" id="allowComments" name="allowComments" {% if channel.allowComments == True %} checked {% endif %}>
                                    </div>
                                </div>
                                <hr>
                                <h4><b>Chat Options</b></h4>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label for="chatSelect" class="col-form-label"><b>Enable Chat </b></label>
                                    </div>
                                    <div class="col-6">
                                        <input type="checkbox" data-toggle="toggle" id="chatSelect" name="chatSelect" {% if channel.chatEnabled == True %} checked {% endif %}>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label for="chatJoinNotificationSelect" class="col-form-label"><b>Show Chat Join & Leaving Notifications</b></label>
                                    </div>
                                    <div class="col-6">
                                        <input type="checkbox" data-toggle="toggle" id="chatJoinNotificationSelect" name="chatJoinNotificationSelect" {% if channel.showChatJoinLeaveNotification == True %} checked {% endif %}>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label for="chatBG-{{channel.id}}" class="col-form-label"><b>Chat Background Theme </b></label>
                                    </div>
                                    <div class="col-6">
                                        <select id="chatBG-{{channel.id}}" name="chatBG" class="form-control" onchange="updateChatPreview({{channel.id}})">
                                            {% for background in channelChatBGOptions %}
                                            <option value="{{background['value']}}" {% if channel.chatBG == background['value'] %} selected {% endif %}>{{background['name']}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label for="chatAnimation-{{channel.id}}" class="col-form-label"><b>Chat Animation </b></label>
                                    </div>
                                    <div class="col-6">
                                        <select id="chatAnimation-{{channel.id}}" name="chatAnimation" class="form-control" onchange="updateChatPreview({{channel.id}})">
                                            {% for anim in channelChatAnimationOptions %}
                                            <option value="{{anim['value']}}" {% if channel.chatAnimation == anim['value'] %} selected {% endif %}>{{anim['name']}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label for="chatTextColor-{{channel.id}}" class="col-form-label"><b>Chat Text Color </b></label>
                                    </div>
                                    <div class="col-6">
                                        <input type="color" id="chatTextColor-{{channel.id}}" name="chatTextColor" value="{{channel.chatTextColor}}" onchange="updateChatPreview({{channel.id}})">
                                    </div>
                                </div>
                                <h5>Chat Preview</h5>
                                <div id="chatPreviewBox-{{channel.id}}" class="chatBar-Item chat-{{channel.chatBG}} {{channel.chatAnimation}}">
                                    <div class="charBar-Item-Image">
                                        <img src="/images/{{current_user.pictureLocation}}" width="52px" height="52px" onerror="this.src='/static/img/user2.png';">
                                    </div>
                                    <div id="chatPreviewText-{{channel.id}}" class="chatBar-Item-Text" style="color:{{channel.chatTextColor}};">
                                        <b>{{current_user.username}}</b> 12:00
                                        <br>This is just a test
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="description" class="col-form-label"><b>Description</b></label>
                                    <textarea class="form-control" name="description" id="description-{{channel.id}}" value="" maxlength="2048">{{channel.description}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="streamKey-{{channel.id}}" class="col-form-label"><b>Stream Key</b></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-primary" onclick="CopyAPI('streamKey-{{channel.id}}')"><i class="fas fa-copy"></i></button>
                                        </div>
                                        <input type="text" class="form-control" name="streamKey" id="streamKey-{{channel.id}}" value="{{channel.streamKey}}" required readonly aria-describedby="generateGUID required">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-warning" id="generateGUID-{{channel.id}}"><i class="fas fa-sync"></i></button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <a href="javascript:void(0)" onclick="toggleDiv('channelProtection-{{channel.id}}');return false;"><h5><b><i class="fas fa-angle-double-down"></i> Channel Protection</b></h5></a>
                                    </div>
                                    <div class="col-2">
                                        <input type="checkbox" data-toggle="toggle" id="channelProtection" name="channelProtection" {% if channel.protected == True %} checked {% endif %} data-size="small">
                                    </div>
                                </div>
                                <div id="channelProtection-{{channel.id}}" style="display:none;">
                                    <hr>
                                    
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header"><h6><b><i class="fas fa-ticket-alt"></i> Invite Codes</b></h6></div>
                                                <div class="card-body">
                                                    <div class="form-row">
                                                        <div class="form-group col-12 col-lg-4">
                                                            <label for="newInviteCodeText-{{channel.id}}" class="col-form-label mr-2"><b>Invite Code</b></label>
                                                            <input id="newInviteCodeText-{{channel.id}}" type="text" class="form-control" placeholder="Blank for Random">
                                                        </div>
                                                        <div class="form-group col-12 col-lg-4">
                                                            <label for="newInviteCode-{{channel.id}}" class="col-form-label mr-2"><b>Days Invite Code Valid</b></label>
                                                            <input id="newInviteCode-{{channel.id}}" type="number" class="form-control" min="0" placeholder="Set to 0 to not expire">
                                                        </div>
                                                        <div class="form-group col-12 col-lg-4">
                                                            <label for="newInviteCode-{{channel.id}}" class="col-form-label mr-2"><b>Options</b></label><br>
                                                            <input type="button" id="newInviteAddButton-{{channel.id}}" class="btn btn-primary" onclick="generateInviteCode('{{channel.id}}')" value="Add">
                                                        </div>
                                                    </div>
                                                    <div id="inviteCodes">
                                                        <div class="table-responsive">
                                                            <table id="inviteCodeTable-{{channel.id}}" class="table table-borderless" width="100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Invite Code</th>
                                                                        <th>Expiration Date</th>
                                                                        <th>Uses</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for code in channel.inviteCodes %}
                                                                    <tr id="inviteCodeRow-{{code.code}}">
                                                                        <td>
                                                                            <div class="input-group mb-3">
                                                                                <div class="input-group-prepend">
                                                                                    <button type="button" class="btn btn-primary" onclick="CopyInviteCode('inviteCodeRO-{{code.code}}','code')"><i class="fas fa-copy"></i></button>
                                                                                    <button type="button" class="btn btn-success" onclick="CopyInviteCode('inviteCodeRO-{{code.code}}','link')"><i class="fas fa-link"></i></button>
                                                                                </div>
                                                                                <input type="text" class="form-control" name="inviteCodeRO" id="inviteCodeRO-{{code.code}}" value="{{code.code}}" readonly aria-describedby="inviteCodeRO required">
                                                                            </div>
                                                                        </td>
                                                                        <td>{{code.expiration|normalize_date}} {% if code.isValid() == False %}<i style="color:red;" class="fas fa-times"></i>{% endif %}</td>
                                                                        <td>{{code.uses}}</td>
                                                                        <td><button type="button" class="btn btn-sm btn-danger" onclick="deleteInviteCode('{{code.code}}')"><i class="far fa-trash-alt"></i></button></td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="card">
                                                <div class="card-header"><h6><b><i class="fas fa-id-badge"></i> Invited Users</b></h6></div>
                                                <div class="card-body">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="newInvitedUsername-{{channel.id}}" class="col-form-label"><b>Invited Username</b></label>
                                                            <input id="newInvitedUsername-{{channel.id}}" type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="newInvitedUserDays-{{channel.id}}" class="col-form-label"><b>Number of Days</b></label>
                                                            <input id="newInvitedUserDays-{{channel.id}}" type="number" class="form-control" min="0" placeholder="Set to 0 to not expire">
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label for="hiddenAnchorForButton" class="col-form-label"> </label>
                                                            <input type="hidden" id="hiddenAnchorForButton" class="form-control">
                                                            <div class="input-group-append">
                                                                <button type="button" class="btn btn-primary" onclick="addInvitedUser('{{channel.id}}')"><i class="fas fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="invitedUsers">
                                                        <div class="table-responsive">
                                                            <table id="invitedUsersTable-{{channel.id}}" class="table table-borderless" width="100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>User</th>
                                                                        <th>Date Added</th>
                                                                        <th>Expiration Date</th>
                                                                        <th>Used Code</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for user in channel.invitedViewers %}
                                                                    <tr id="invitedUserRow-{{user.id}}">
                                                                        <td>{{user.userID|get_userName}}</td>
                                                                        <td>{{user.addedDate|normalize_date}}</td>
                                                                        <td>{{user.expiration|normalize_date}} {% if user.isValid() == False %}<i style="color:red;" class="fas fa-times"></i>{% endif %}</td>
                                                                        <td>{{user.usedCode.code}}</td>
                                                                        <td><button type="button" class="btn btn-sm btn-danger" onclick="deleteInvitedUser('{{user.id}}')"><i class="far fa-trash-alt"></i></button></td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="javascript:void(0)" onclick="toggleDiv('webhook-{{channel.id}}');return false;"><h5><b><i class="fas fa-angle-double-down"></i> Webhook Configuration</b></h5></a>
                                <div id="webhook-{{channel.id}}" style="display:none;">
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h6><b><i class="fas fa-globe"></i> Active Webhooks</b>
                                                        <span class="float-right"><button class="btn btn-sm btn-success shadow" type="button" onclick="openNewWebhookModal('{{channel.id}}');"><i class="fas fa-plus"></i></button></span>
                                                    </h6>
                                                </div>
                                                <div class="card-body">
                                                    <div id="webhookList">
                                                        <div class="table-responsive">
                                                            <table id="webhookTable-{{channel.id}}" class="table table-borderless" width="100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Webhook Name</th>
                                                                        <th>Trigger</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for webhook in channel.webhooks %}
                                                                    <tr id="webhookTableRow-{{webhook.id}}">
                                                                        <td id="webhookRowName-{{webhook.id}}">{{webhook.name}}</td>
                                                                        <td id="webhookRowEndpoint-{{webhook.id}}" style="display:none;">{{webhook.endpointURL}}</td>
                                                                        <td id="webhookRowTrigger-{{webhook.id}}">{{webhook.requestTrigger|get_webhookTrigger}}</td>
                                                                        <td id="webhookRowType-{{webhook.id}}" style="display:none;">{{webhook.requestType}}</td>
                                                                        <td id="webhookRowHeader-{{webhook.id}}" style="display:none;">{{webhook.requestHeader}}</td>
                                                                        <td id="webhookRowPayload-{{webhook.id}}" style="display:none;">{{webhook.requestPayload}}</td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-sm btn-warning" onclick="editWebhook('{{webhook.id}}','{{channel.id}}')"><i class="fas fa-edit"></i></button>
                                                                            <button type="button" class="btn btn-sm btn-danger" onclick="deleteWebhook('{{webhook.id}}')"><i class="far fa-trash-alt"></i></button>
                                                                        </td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12">
                                <a href="javascript:void(0)" onclick="toggleDiv('statChart-{{channel.id}}');return false;"><h5><b><i class="fas fa-angle-double-down"></i> Viewer Statistics</b></h5></a>
                                <div id="statChart-{{channel.id}}" style="display:none;">
                                    <hr>
                                    <canvas id="viewershipChart-{{channel.id}}" width="400" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="type" name="type" value="change">
                    <input type="hidden" id="origStreamKey" name="origStreamKey" value="{{channel.streamKey}}">
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12">
                                <input type="submit" class="btn btn-success" value="&#128393; Edit">
                                <a href="/settings/channels?action=delete&streamkey={{channel.streamKey}}" class="btn btn-danger"><i class="far fa-trash-alt"> Delete</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</div>


<div class="modal fade" id="newWebhookModal" tabindex="-1" role="dialog" aria-labelledby="newWebhookModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newWebhookModalTitle">Create/Edit Webhook</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="webhookName">Name</label>
                                <input id="webhookName" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="webhookEndpoint">Endpoint URL</label>
                                <input id="webhookEndpoint" class="form-control">
                            </div>
                            <div class="col-md-4"></div>
                            <div class="form-group col-md-12">
                                <label for="webhookHeader">Request Header</label>
                                <textarea id="webhookHeader" class="form-control" maxlength="4096"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="webhookPayload">Payload</label>
                                <textarea id="webhookPayload" class="form-control" cols=50 rows=25 maxlength="4096"></textarea>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="webhookReqType">Type</label>
                                <select id="webhookReqType" class="form-control">
                                    <option value=0 selected>POST</option>
                                    <option value=1>GET</option>
                                    <option value=2>PUT</option>
                                    <option value=3>DELETE</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="webhookTrigger">Trigger Event</label>
                                <select id="webhookTrigger" class="form-control">
                                    <option value=0 selected>Stream Start</option>
                                    <option value=1>Stream End</option>
                                    <option value=2>Stream Viewer Join</option>
                                    <option value=4>Stream Name Change</option>
                                    <option value=5>Chat Message</option>
                                    <option value=6>New Video</option>
                                    <option value=7>Video Comment</option>
                                    <option value=9>Video Name Change</option>
                                    <option value=10>Channel Subscription</option>
                                </select>
                            </div>
                            <input id="webhookChannelIDInput" type="hidden">
                            <input id="webhookInputAction" type="hidden">
                            <input id="webhookID" type="hidden">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="submitWebhook()">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="newChannelModal" tabindex="-1" role="dialog" aria-labelledby="newChannelModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form action="/settings/channels" enctype=multipart/form-data method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="newChannelModalTitle">Create New Channel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <h4>Channel Image</h4>
                            <img src="/static/img/video-placeholder.jpg" width="100%">
                            <input type=file name=photo class="form-control-file" value="Upload a Photo" style="margin-top:10px;width:384px;"><br>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="channelName" class="col-form-label"><b>Channel Name</b></label>
                                <input type="text" class="form-control" name="channelName" id="channelName" required>
                            </div>
                            <div class="form-group">
                                <label for="channeltopic" class="col-form-label"><b>Topic</b></label>
                                <select class="form-control" name="channeltopic" id="channeltopic" style="font-family: FontAwesome, sans-serif;" required >
                                    {% for topic in topics %}
                                    <option value={{topic.id}}>{{topic.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            {% if sysSettings.allowRecording == True %}
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="recordSelect" class="col-form-label"><b>Record Video </b></label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" data-toggle="toggle" id="recordSelect" name="recordSelect">
                                </div>
                            </div>
                            {% endif %}
                            
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="chatSelect" class="col-form-label"><b>Enable Chat </b></label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" data-toggle="toggle" id="chatSelect" name="chatSelect" >
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="chatSelect" class="col-form-label"><b>Allow Comments on Recorded Videos</b></label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" data-toggle="toggle" id="allowComments" name="allowComments" >
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="description" class="col-form-label"><b>Description</b></label>
                                <textarea class="form-control" name="description" id="description" value="" maxlength="2048"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="type" name="type" value="new">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-success" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function CopyAPI(divVal) {
        var copyText = document.getElementById(divVal);
        copyText.select();
        document.execCommand("copy");
    }
</script>

<script>
    function CopyInviteCode(divVal, type) {
        var copyText = document.getElementById(divVal).value;
        if (type == 'link') {
            copyText = '{{sysSettings.siteAddress}}/settings/user/addInviteCode?inviteCode=' + copyText;
        }
        
        var dummy = document.createElement("input");
        document.body.appendChild(dummy);
        dummy.setAttribute('value', copyText);
        dummy.select();
        document.execCommand("copy");
        document.body.removeChild(dummy);
    }
</script>

<script>
    function guid() {
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
        s4() + '-' + s4() + s4() + s4();
    }
    
    function s4() {
        return Math.floor((1 + Math.random()) * 0x10000)
        .toString(16)
        .substring(1);
    }
    
    {% for channel in channels %}
    document.getElementById('generateGUID-{{channel.id}}').addEventListener('click', function() {
        document.getElementById('streamKey-{{channel.id}}').value = guid();
    })
    {% endfor %}
    
</script>

{% for chan in viewStats %}
<script>
    var ctx = document.getElementById('viewershipChart-{{chan}}').getContext('2d');
    ctx.canvas.width = 1024;
    ctx.canvas.height = 380;
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',
        
        // The data for our dataset
        data: {
            
            datasets: [{
                label: "Live Viewers",
                fill: true,
                borderColor: 'rgb(40, 90, 150)',
                backgroundColor: 'rgb(40, 90, 150)',
                spanGaps: true,
                lineTension: 0,
                data:[
                {% for entry in viewStats[chan]['live'] %}
                {x:'{{entry['t']}}',y:{{entry['y']}}},
                {% endfor %}
                ]},
                {
                    label: "Video Viewers",
                    fill: true,
                    borderColor: 'rgb(90, 150, 40)',
                    backgroundColor: 'rgb(90, 150, 40)',
                    spanGaps: true,
                    lineTension: 0,
                    data:[
                    {% for entry in viewStats[chan]['recorded'] %}
                    {x:'{{entry['t']}}',y:{{entry['y']}}},
                    {% endfor %}
                    ]
                }]
            },
            
            // Configuration options go here
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: 'YYYY-MM-DD',
                            unit: 'day'
                        }
                    }],
                }
            }
        });
    </script>
    {% endfor %}
    
    <script>
        function updateChatPreview(channelID) {
            var chatBG = document.getElementById("chatBG-".concat(channelID));
            var chatAnimation = document.getElementById("chatAnimation-".concat(channelID));
            var chatTextColor = document.getElementById("chatTextColor-".concat(channelID)).value;
            
            chatBG = chatBG.options[chatBG.selectedIndex].value;
            chatAnimation = chatAnimation.options[chatAnimation.selectedIndex].value;
            
            var chatPreviewBox = document.getElementById("chatPreviewBox-".concat(channelID));
            var chatPreviewText = document.getElementById("chatPreviewText-".concat(channelID));
            
            chatPreviewBox.style.animation = 'none';
            chatPreviewBox.offsetHeight; /* trigger reflow */
            chatPreviewBox.style.animation = null;
            
            chatPreviewBox.style.display = "none";
            
            chatPreviewBox.className = '';
            chatPreviewBox.classList.add('chatBar-Item');
            chatPreviewBox.classList.add('chat-'.concat(chatBG));
            chatPreviewBox.classList.add(chatAnimation);
            
            chatPreviewText.style.color=chatTextColor;
            
            chatPreviewBox.style.display = "block";
        }
    </script>
    <script>
        function toggleDiv(divID) {
            var x = document.getElementById(divID);
            $(x).slideToggle();
        }
    </script>
    
    <script type="text/javascript" charset="utf-8">
        var conn_options = {
            'sync disconnect on unload':true
        };
        
        var socket = io();
    </script>
    
    <script>
        var newChanMDE = new SimpleMDE({ element: document.getElementById("description") });
        
        {% for channel in channels %}
        var simplemde{{channel.id}} = new SimpleMDE({ element: document.getElementById("description-{{channel.id}}") });
        {% endfor %}
    </script>
    
    <script>
        function generateInviteCode(channelID) {
            var newInviteTextInput = document.getElementById('newInviteCodeText-' + channelID);
            var newInviteElementInput = document.getElementById('newInviteCode-' + channelID);
            var daysToExpire = newInviteElementInput.value;
            var customInviteCode = newInviteTextInput.value;
            socket.emit('generateInviteCode', {chanID: channelID, daysToExpiration: daysToExpire, inviteCode: customInviteCode});
            newInviteElementInput.value = null;
            newInviteTextInput.value = "";
        }
    </script>
    
    <script>
        function addInvitedUser(channelID) {
            var invitedUsernameDiv = document.getElementById('newInvitedUsername-' + channelID);
            var invitedUsername = invitedUsernameDiv.value;
            
            var daystoExpireDiv = document.getElementById('newInvitedUserDays-' + channelID);
            var daystoExpire = daystoExpireDiv.value;
            
            socket.emit('addUserChannelInvite', {chanID: channelID, username: invitedUsername, daysToExpiration: daystoExpire});
        }
    </script>
    
    <script>
        function deleteInviteCode(code) {
            socket.emit('deleteInviteCode', {code: code});
            var inviteCodeRow = document.getElementById('inviteCodeRow-' + code);
            inviteCodeRow.parentNode.removeChild(inviteCodeRow);
        }
    </script>
    
    <script>
        function deleteInvitedUser(inviteID) {
            socket.emit('deleteInvitedUser', {inviteID: inviteID});
            var inviteUserRow = document.getElementById('invitedUserRow-' + inviteID);
            inviteUserRow.parentNode.removeChild(inviteUserRow);
        }
    </script>
    
    <script>
        function deleteWebhook(webhookID) {
            socket.emit('deleteWebhook', {webhookID: webhookID});
            var webhookTableRow = document.getElementById('webhookTableRow-' + webhookID);
            webhookTableRow.parentNode.removeChild(webhookTableRow);
        }
    </script>
    
    <script>
        function openNewWebhookModal(chanID) {
            $('#newWebhookModal').modal('show');
            var webhookName = document.getElementById('webhookName');
            var webhookEndpoint = document.getElementById('webhookEndpoint');
            var webhookHeader = document.getElementById('webhookHeader');
            var webhookPayload = document.getElementById('webhookPayload');
            var webhookReqTypeElement = (document.getElementById('webhookReqType'));
            var webhookTriggerElement = document.getElementById('webhookTrigger');
            var webhookChannelID = (document.getElementById('webhookChannelIDInput'));
            var webhookInputAction = document.getElementById('webhookInputAction');
            var webhookInputID = document.getElementById('webhookID');
            
            webhookInputID.value = 'New';
            
            webhookName.value = "";
            webhookEndpoint.value = "";
            webhookHeader.value = "";
            webhookPayload.value = "";
            webhookReqTypeElement.value = 0;
            webhookTriggerElement.value = 0;
            webhookChannelID.value = chanID;
            webhookInputAction.value = 'new';
        }
    </script>
    
    <script type="text/javascript" charset="utf-8">
        socket.on('newInviteCode', function (msg) {
            var code = msg['code'];
            var expiration = msg['expiration'];
            var channelID = msg['channelID'];
            
            var tableRef = document.getElementById('inviteCodeTable-' + channelID).getElementsByTagName('tbody')[0];
            
            var newRow = tableRef.insertRow(tableRef.rows.length);
            newRow.id = 'inviteCodeRow-' + code;
            
            var codeCell = newRow.insertCell(0);
            var expirationCell = newRow.insertCell(1);
            var usesCell = newRow.insertCell(2);
            var buttonCell = newRow.insertCell(3);
            
            var codeCellText = '<div class="input-group mb-3"><div class="input-group-prepend"><button type="button" class="btn btn-primary" onclick="CopyInviteCode(\'inviteCodeRO-' + code + '\',\'code\')"><i class="fas fa-copy"></i></button>' +
                '<button type="button" class="btn btn-success" onclick="CopyInviteCode(\'inviteCodeRO-' + code + '\',\'link\')"><i class="fas fa-link"></i></button></div>' +
                '<input type="text" class="form-control" name="inviteCodeRO" id="inviteCodeRO-' + code + '" value="' + code + '" readonly aria-describedby="inviteCodeRO required"></div>';
                var buttonText = '<button type="button" class="btn btn-sm btn-danger" onclick="deleteInviteCode(\''+ code + '\')"><i class="far fa-trash-alt"></i></button>';
                
                codeCell.innerHTML = codeCellText;
                expirationCell.appendChild(document.createTextNode(expiration));
                usesCell.appendChild(document.createTextNode('0'));
                buttonCell.innerHTML = buttonText;
            });
        </script>
        
        <script type="text/javascript" charset="utf-8">
            socket.on('invitedUserAck', function (msg) {
                
                var username = msg['username'];
                var addedDate = msg['added'];
                var expiration = msg['expiration'];
                var channelID = msg['channelID'];
                var inviteID = msg['id'];
                
                var tableRef = document.getElementById('invitedUsersTable-' + channelID).getElementsByTagName('tbody')[0];
                
                var newRow = tableRef.insertRow(tableRef.rows.length);
                newRow.id = 'invitedUserRow-' + inviteID;
                
                var usernameCell = newRow.insertCell(0);
                var addedDateCell = newRow.insertCell(1);
                var expirationDateCell = newRow.insertCell(2);
                var usedCodeCell = newRow.insertCell(3);
                var buttonCell = newRow.insertCell(4);
                
                var buttonText = '<button type="button" class="btn btn-sm btn-danger" onclick="deleteInvitedUser(\'' + inviteID + '\')"><i class="far fa-trash-alt"></i></button>';
                
                usernameCell.appendChild(document.createTextNode(username));
                addedDateCell.appendChild(document.createTextNode(addedDate));
                expirationDateCell.appendChild(document.createTextNode(expiration));
                buttonCell.innerHTML = buttonText;
            });
            
        </script>
        
        <script>
            function submitWebhook() {
                var webhookName = document.getElementById('webhookName').value;
                var webhookEndpoint = document.getElementById('webhookEndpoint').value;
                var webhookHeader = document.getElementById('webhookHeader').value;
                var webhookPayload = document.getElementById('webhookPayload').value;
                var webhookReqTypeElement = (document.getElementById('webhookReqType'));
                var webhookTriggerElement = document.getElementById('webhookTrigger');
                var webhookReqType = webhookReqTypeElement.options[webhookReqTypeElement.selectedIndex].value;
                var webhookTrigger = webhookTriggerElement.options[webhookTriggerElement.selectedIndex].value;
                var webhookChannelID = (document.getElementById('webhookChannelIDInput')).value;
                var webhookInputAction = document.getElementById('webhookInputAction').value;
                var webhookInputID = document.getElementById('webhookID').value;
                
                if (webhookName == '') {
                    (document.getElementById('webhookName')).setCustomValidity('Name is Required');
                }
                if (webhookEndpoint == '') {
                    (document.getElementById('webhookEndpoint')).setCustomValidity('Endpoint URL is Required');
                }
                
                socket.emit('submitWebhook', {webhookName: webhookName, webhookEndpoint: webhookEndpoint, webhookHeader:webhookHeader, webhookPayload:webhookPayload, webhookReqType: webhookReqType, webhookTrigger: webhookTrigger, webhookChannelID:webhookChannelID, inputAction:webhookInputAction, webhookInputID:webhookInputID});
            }
        </script>
        
        <script>
            function editWebhook(webhookID, chanID) {
                var webHookChannelIDInput = document.getElementById('webhookChannelIDInput');
                var webhookTrigger = document.getElementById('webhookTrigger');
                var webhookName = document.getElementById('webhookName');
                var webhookEndpoint = document.getElementById('webhookEndpoint');
                var webhookHeader = document.getElementById('webhookHeader');
                var webhookPayload = document.getElementById('webhookPayload');
                var webhookReqTypeElement = document.getElementById('webhookReqType');
                var webhookInputAction = document.getElementById('webhookInputAction');
                var webhookInputID = document.getElementById('webhookID');
                
                var triggerVal = document.getElementById('webhookRowTrigger-' + webhookID).innerText;
                
                switch(triggerVal) {
                    case 'Stream Start':
                    triggerVal = 0;
                    break;
                    case 'Stream End':
                    triggerVal = 1;
                    break;
                    case 'Stream Viewer Join':
                    triggerVal = 2;
                    break;
                    case 'Stream Viewer Upvote':
                    triggerVal = 3;
                    break;
                    case 'Stream Name Change':
                    triggerVal = 4;
                    break;
                    case 'Chat Message':
                    triggerVal = 5;
                    break;
                    case 'New Video':
                    triggerVal = 6;
                    break;
                    case 'Video Comment':
                    triggerVal = 7;
                    break;
                    case 'Video Upvote':
                    triggerVal = 8;
                    break;
                    case 'Video Name Change':
                    triggerVal = 9;
                    break;
                    case 'Channel Subscription':
                    triggerVal = 10;
                    break;
                    default:
                    triggerVal = 0;
                }
                
                webhookName.value = document.getElementById('webhookRowName-' + webhookID).innerText;
                webhookEndpoint.value = document.getElementById('webhookRowEndpoint-' + webhookID).innerText;
                webhookHeader.value = document.getElementById('webhookRowHeader-' + webhookID).innerText;
                webhookPayload.value = document.getElementById('webhookRowPayload-' + webhookID).innerText;
                webhookReqTypeElement.value = document.getElementById('webhookRowType-' + webhookID).innerText;
                webhookTrigger.value = triggerVal;
                webHookChannelIDInput.value = chanID;
                webhookInputAction.value = 'edit';
                webhookInputID.value = webhookID;
                
                $('#newWebhookModal').modal('show');
                webhookHeader.value = JSON.stringify(JSON.parse(webhookHeader.value), undefined, 2);
                webhookPayload.value = JSON.stringify(JSON.parse(webhookPayload.value), undefined, 2);
            }
        </script>
        
        <script type="text/javascript" charset="utf-8">
            socket.on('newWebhookAck', function (msg) {
                var webhookName = msg['webhookName'];
                var webhookURL = msg['requestURL'];
                var webhookHeader = msg['requestHeader'];
                var webhookPayload = msg['requestPayload'];
                var webhookRequestType = msg['requestType'];
                var webhookTrigger = msg['requestTrigger'];
                var webhookID = msg['requestID'];
                var channelID = msg['channelID'];
                
                var tableRef = document.getElementById('webhookTable-' + channelID).getElementsByTagName('tbody')[0];
                
                var newRow = tableRef.insertRow(tableRef.rows.length);
                newRow.id = 'webhookTableRow-' + webhookID;
                
                var webhookNameCell = newRow.insertCell(0);
                var endpointURLCell = newRow.insertCell(1);
                var requestTriggerCell = newRow.insertCell(2);
                var requestTypeCell = newRow.insertCell(3);
                var requestHeaderCell = newRow.insertCell(4);
                var requestPayloadCell = newRow.insertCell(5);
                var buttonCell = newRow.insertCell(6);
                
                webhookNameCell.id = "webhookRowName-" + webhookID;
                endpointURLCell.id = "webhookRowEndpoint-" + webhookID;
                requestTriggerCell.id = "webhookRowTrigger-" + webhookID;
                requestTypeCell.id = "webhookRowType-" + webhookID;
                requestHeaderCell.id = "webhookRowHeader-" + webhookID;
                requestPayloadCell.id = "webhookRowPayload-" + webhookID;
                
                endpointURLCell.style.display = 'none';
                requestTypeCell.style.display = 'none';
                requestHeaderCell.style.display = 'none';
                requestPayloadCell.style.display = 'none';
                
                var buttonText = '<button type="button" class="btn btn-sm btn-warning" onclick="editWebhook(\'' + webhookID + '\',\'' + channelID + '\')"><i class="fas fa-edit"></i></button> <button type="button" class="btn btn-sm btn-danger" onclick="deleteWebhook(\'' + webhookID + '\')"><i class="far fa-trash-alt"></i></button>';
                
                var triggerVal = 'Unknown';
                
                switch(webhookTrigger) {
                    case 0:
                    triggerVal = 'Stream Start';
                    break;
                    case 1:
                    triggerVal = 'Stream End';
                    break;
                    case 2:
                    triggerVal = 'Stream Viewer Join';
                    break;
                    case 3:
                    triggerVal = 'Stream Viewer Upvote';
                    break;
                    case 4:
                    triggerVal = 'Stream Name Change';
                    break;
                    case 5:
                    triggerVal = 'Chat Message';
                    break;
                    case 6:
                    triggerVal = 'New Video';
                    break;
                    case 7:
                    triggerVal = 'Video Comment';
                    break;
                    case 8:
                    triggerVal = 'Video Upvote';
                    break;
                    case 9:
                    triggerVal = 'Video Name Change';
                    break;
                    case 'Channel Subscription':
                    triggerVal = 10;
                    break;
                    default:
                    triggerVal = 'Unknown';
                }
                
                
                webhookNameCell.appendChild(document.createTextNode(webhookName));
                endpointURLCell.appendChild(document.createTextNode(webhookURL));
                requestTriggerCell.appendChild(document.createTextNode(triggerVal));
                requestTypeCell.appendChild(document.createTextNode(webhookRequestType));
                requestHeaderCell.appendChild(document.createTextNode(webhookHeader));
                requestPayloadCell.appendChild(document.createTextNode(webhookPayload));
                buttonCell.innerHTML = buttonText;
                
            });
        </script>
        
        <script type="text/javascript" charset="utf-8">
            socket.on('changeWebhookAck', function (msg) {
                var webhookName = msg['webhookName'];
                var webhookURL = msg['requestURL'];
                var webhookHeader = msg['requestHeader'];
                var webhookPayload = msg['requestPayload'];
                var webhookRequestType = msg['requestType'];
                var webhookTrigger = msg['requestTrigger'];
                var webhookID = msg['requestID'];
                
                webhookNameCell = document.getElementById('webhookRowName-' + webhookID);
                endpointURLCell = document.getElementById('webhookRowEndpoint-' + webhookID);
                requestTriggerCell = document.getElementById('webhookRowTrigger-' + webhookID);
                requestTypeCell = document.getElementById('webhookRowType-' + webhookID);
                requestHeaderCell = document.getElementById('webhookRowHeader-' + webhookID);
                requestPayloadCell = document.getElementById('webhookRowPayload-' + webhookID);
                
                var triggerVal = 'Unknown';
                
                switch(webhookTrigger) {
                    case 0:
                    triggerVal = 'Stream Start';
                    break;
                    case 1:
                    triggerVal = 'Stream End';
                    break;
                    case 2:
                    triggerVal = 'Stream Viewer Join';
                    break;
                    case 3:
                    triggerVal = 'Stream Viewer Upvote';
                    break;
                    case 4:
                    triggerVal = 'Stream Name Change';
                    break;
                    case 5:
                    triggerVal = 'Chat Message';
                    break;
                    case 6:
                    triggerVal = 'New Video';
                    break;
                    case 7:
                    triggerVal = 'Video Comment';
                    break;
                    case 8:
                    triggerVal = 'Video Upvote';
                    break;
                    case 9:
                    triggerVal = 'Video Name Change';
                    break;
                    case 'Channel Subscription':
                    triggerVal = 10;
                    break;
                    default:
                    triggerVal = 'Unknown';
                }
                
                webhookNameCell.innerText = webhookName;
                endpointURLCell.innerText = webhookURL;
                requestTriggerCell.innerText = triggerVal;
                requestTypeCell.innerText = webhookRequestType;
                requestHeaderCell.innerText = webhookHeader;
                requestPayloadCell.innerText = webhookPayload;
            });
        </script>
        
        
        {% endblock %}